.rx-item-profile-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  margin-top: 20px;
}

.rx-item-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.button-group {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
}

.rx-main {
  margin-top: 50px; /* Ensure fields move down */
}

.rx-main div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.rx-main label {
  width: 100px;
  text-align: right;
  margin-right: 1rem;
}

.rx-main input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.rx-edit-button, .rx-save-button {
  padding: 0.5rem 1rem;
  background-color: #2E3F59;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.rx-edit-button:hover, .rx-save-button:hover {
  background-color: #4D79A9;
}
