.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute logo, nav items, and modal buttons */
  background-color: #2E3F59;
  border: 1px solid;
  padding: 0 20px;
}

.small-logo {
  max-width: 150px;
  margin-right: 20px;
}

.nav-items {
  display: flex;
  flex-grow: 1;
  justify-content: center; /* Center the navigation items */
  margin: 0;
  padding: 0;
  list-style: none; /* Remove default list styles */
}

.nav-items li {
  display: flex;
  /* margin-left: 100px; */
}

.nav-items a,
.nav-button {
  color: white;
  text-decoration: none;
  padding: 2rem 3rem;
  border: 1px solid white;
}

.nav-items a:hover,
.nav-button:hover {
  background-color: #4D79A9;
  border-color: #ffffff;
}
