.nav-container {
  display: flex;
  align-items: center;
  background-color: #2E3F59;
  border: 1px solid;
  padding: 0 20px;
}

.small-logo {
  max-width: 225px;
}

.nav-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items li {
  display: flex;
  justify-content: center; /* Center text in each nav item */
  margin: 0 10px; /* Add some margin between each item */
}

.nav-items a,
.nav-button {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 3rem 5rem; /* Adjust padding for spacing */
  background-color: #2E3F59;
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.nav-items a:hover,
.nav-button:hover {
  background-color: #4D79A9;
  border-color: #ffffff;
}

.modal-buttons-container {
  display: flex;
  justify-content: space-around; /* Align modal buttons evenly */
  gap: 1rem;
  flex-grow: 1; /* Allow the modal buttons to share available space */
}
