.nav-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #2E3F59;
  border: 1px solid;
  padding: 10px 20px;
}

.small-logo {
  max-width: 150px;
  margin-right: 20px;
}

.nav-items {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 0;
  margin-right: 20px;
}

.nav-items li {
  display: flex;
  /* margin-left: 100px; */
}

.nav-items a,
.nav-button {
  color: white;
  text-decoration: none;
  padding: 2rem 3rem;
  border: 1px solid white;
}

.nav-items a:hover,
.nav-button:hover {
  background-color: #4D79A9;
  border-color: #ffffff;
}
