.new-rx-container {
  display: flex;
  height: calc(90vh - 60px);
}

.new-rx-left-side,
.scan-image {
  flex: 1; /* Each side takes up equal space */
  padding: 0 2rem;
}

.separator {
  width: 1px;
  background-color: #ccc;
}

.new-rx-left-side div {
  display: flex; /* Align items horizontally */
  align-items: center; /* Center the label and input vertically */
  margin-bottom: 1rem;
}

.new-rx-left-side label {
  margin-right: 1rem; /* Space between the label and the input */
  width: 150px; /* Set a fixed width for labels */
  text-align: right; /* Align label text to the right for better spacing */
}

.new-rx-left-side input {
  flex-grow: 1; /* Allow input to take up the remaining space */
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.new-rx-left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures the form takes the top space, and button stays at the bottom */
  padding: 20px;
  height: 100%;
}

.new-rx-left-side textarea.directions-textarea {
  flex-grow: 1; /* Allow the textarea to take up the remaining space */
  padding: 0.5rem;
  border: 1px solid #ccc;
  min-height: 100px; /* Set a minimum height */
  resize: vertical; /* Allow the user to resize the textarea vertically */
}

.scan-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.continue-to-label {
  align-self: flex-end; /* Align the button to the right */
  margin-top: auto; /* Push the button to the bottom of the container */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: #2E3F59;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.status-select {
  width: 75%;
  padding: 0.5rem; /* Add padding for a comfortable clickable area */
  border: 1px solid #ccc; /* Border style matching other inputs */
  border-radius: 4px; /* Rounded corners to match other inputs */
  font-size: 1rem; /* Ensure font size is consistent with the rest of the form */
  background-color: white; /* Background color */
  color: #333; /* Text color */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition on focus */
}

.status-select:focus {
  border-color: #4D79A9; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(77, 121, 169, 0.5); /* Add shadow effect on focus */
}

.status-select option {
  padding: 10px; /* Optional: Add padding inside the dropdown options */
}
